VITE_API_URL=http://localhost:8000/api/v1
VITE_FIREBASE_API_KEY=AIzaSyDGCDuik3viofj6mowY4JC5zl_o9SehFFA
VITE_FIREBASE_AUTH_DOMAIN=sofi-app-b5d87.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sofi-app-b5d87
VITE_FIREBASE_STORAGE_BUCKET=sofi-app-b5d87.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1025142173527
VITE_FIREBASE_APP_ID=1:1025142173527:web:cfa7adf6dd36a893221812
VITE_STRIPE_PUBLISHABLE_KEY=mock_stripe_key
